$bg-color: #fff3e5
$acc-color: #efdfd4

body
  background-color: $bg-color
  font-family: "Montserrat", sans-serif
  margin: 0
  text-align: center
  display: grid
  grid-template-rows: 1fr auto
  grid-row-gap: 1vw
  grid-template-areas: "header" "bodymain"

header
  grid-area: header
  background-color: $acc-color
  padding: 0 2vw
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.header-image
  width: 8rem

.header-searchbar
  width: 40vw
  border-radius: 500px
  height: auto
  padding: 1rem 2rem
  border: none
  text-align: right
  background: white url("../media/search-icon.svg") no-repeat 15px center
  background-size: 1rem
  font-family: "Montserrat", sans-serif

.header-dropdown
  display: none

.body-main
  grid-area: bodymain
  display: grid
  grid-template-columns: 10% auto
  grid-column-gap: 1vw
  grid-row-gap: 1vw
  padding: 0 1vw

aside
  text-align: left
  background-color: $acc-color
  padding: 1vh 1vw
  border-radius: 25px
  height: fit-content

main
  display: grid
  grid-template-columns: repeat(5, minmax(50px, 1fr))
  grid-row-gap: 3vh
  grid-column-gap: 1vw

.main-card
  padding: 2vh 1vw
  background-color: white
  justify-content: center
  display: grid
  grid-template-areas: "image" "name" "text"
  border-radius: 25px

.card-image
  grid-area: image
  width: 100%
  border-radius: 25px
  margin-top: 1vh

.card-name
  grid-area: name
  font-size: 150%

.card-text
  grid-area: text

.card-extradesc
  display: none
  grid-area: text

.main-card:hover > .card-extradesc
  display: block

.main-card:hover > .card-text
  display: none

@media only screen and (max-width: 640px)
  main
    grid-template-columns: repeat(2, minmax(50px, 1fr))
    grid-column-gap: 2vw
    grid-row-gap: 1vh

  .body-main
    grid-template-columns: 100%

  aside
    display: none

  body
    grid-template-rows: 1fr auto auto
    grid-template-areas: "header" "mobilefilters" "bodymain"

  .header-dropdown
    grid-area: mobilefilters
    display: block

  .body-mobile-filters
    display: none

  .card-image
    max-width: 90%
    margin: 0px auto auto

button
  background-color: white
  width: 100%
  padding: 15px
  border-radius: 15px
  border: none
